.App {
  display: grid;
  grid-template-rows: 70px 1fr 1.2fr 1fr 1fr;
  text-align: center;
}

.App-header a {
  color: #000;
  text-decoration: none;
}
.slider { 
  display: block;
}
.slider img {
  max-width: 100%;

}

