.team {
	margin: 0 auto;
	text-align: center;
	font-family: Allerta, sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}
h2 {
	padding-top: 4%;
}
.teamFoto {
	padding: 2% 3% 2% 3%;
}
.teamFoto ul {
	padding-left: 0;
}
.teamFoto  li{
	list-style: none;
	display: inline-block;
	width: 23%;
	padding-left: 1%;
    padding-right: 1%;
}
.teamFoto img {
	width: 75%;
	border-radius: 50%;
	 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
}
.teamFoto img:hover {
	-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}
.teamFoto p {
	font-size: 0.7em;
	padding-right: 1%;
	padding-left: 1%;
	line-height: 1.6em;
}
.teamFoto h5 {
	margin-bottom: 0px;
	font-weight: 200;
}
.teamFoto h6 {
	margin-top: 3px;
	font-weight: 200;
}
